<!DOCTYPE html>

<html>
<head>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <meta content="initial-scale=1, width=device-width" name="viewport"/>
    <title>{% block title %}{% endblock %}</title>
    <style>
        body {
            font-family: 'Roboto', sans-serif;
            font-size: 20px;
        }
        a {
            text-decoration: None;
            color: cornflowerblue;
        }
        .title {
            font-size: 40px;
        }
    </style>
</head>
<body>
{% block body %}{% endblock %}
</body>
</html>
